{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
	<div>
		<a class="back-link" href="#" onclick="window.history.back()">Back</a>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					You have not selected one of the options below
				</h2>

				<ul class="error-summary-list">
					<li>
						<a href="#example-personal-details">Something's not right here, please check your answer before continuing</a>
					</li>
				</ul>
			</div>
			<h1 class="heading-large">Business activities</h1>
			<form id="fsa-checkbox-form" method="get" class="form" action="/reg-pages/business-type">
				<div class="form-group">
					<fieldset>
						<legend>
							<h3 class="heading-medium">Will this food business import or export any food from outside the UK?</h3>
							<span class="body-text">Select all that apply</span>
							<span class="error-message no-display">You must select at least one option below</span>
						</legend>

						<div class="multiple-choice">
							<input id="waste-type-1" name="import_export" type="checkbox" value="Directly import food">
							<label for="waste-type-1">Directly import food</label>
						</div>
						<div class="multiple-choice">
							<input id="waste-type-2" name="import_export" type="checkbox" value="Directly export food">
							<label for="waste-type-2">Directly export food</label>
						</div>
						<div class="multiple-choice">
							<input id="waste-type-3" name="import_export" type="checkbox" value="Serve or process food imported by other food businesses">
							<label for="waste-type-3">Serve or process food imported by other food businesses</label>
						</div>
						<div class="multiple-choice">
							<input id="waste-type-4" name="import_export" type="checkbox" value="Produce food which may be exported by other food businesses">
							<label for="waste-type-4">Produce food which may be exported by other food businesses</label>
						</div>
						<div class="multiple-choice">
							<input id="waste-type-5" name="import_export" type="checkbox" value="No import or export activities">
							<label for="waste-type-5">No import or export activities</label>
						</div>

					</fieldset>
				</div>
				<div class="form-group">
					<details>
						<summary>
							<span class="summary">More information about import and export activities</span>
						</summary>
						<div class="panel panel-border-narrow">
							<p class="label"> If a food business is directly importing or exporting food outside of the UK, there are some extra requirements for
								the busines to follow.</p>

							<p class="label">Find out more by visiting the
								<a href="https://www.food.gov.uk/business-industry/imports">Food Standards Agency website.</a>
							</p>
						</div>
					</details>
				</div>
				<div class="grid-row">
					<input type="submit" class="button" value="Continue">
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}