{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div>
    <a class="back-link" href="#" onclick="window.history.back()">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          You have not selected one of the options below
        </h2>

        <ul class="error-summary-list">
          <li>
            <a href="#example-personal-details">Something's not right here, please check your answer before continuing</a>
          </li>
        </ul>
      </div>

      <h1 class="heading-large">Retailer</h1>

      <form id="fsa-checkbox-form" method="get" class="form" action="/reg-pages/business-otherdetail">
        <div class="form-group">
          <fieldset>
            <legend>
              <h3 class="heading-medium">Which of the following activities will this establishment do?</h3>
              <span class="body-text">Select all that apply</span>
              <span class="error-message no-display">You must select at least one option below</span>
            </legend>
            <div class="multiple-choice">
              <input data-riskid="TYPE-A2" id="radio-2" type="checkbox" name="business_typequestions" value="Sell hot food for immediate consumption">
              <label for="radio-2">Sell hot food for immediate consumption</label>
            </div>
            <div class="multiple-choice">
                <input data-riskid="TYPE-A2" id="radio-2" type="checkbox" name="business_typequestions" value="Produce ready meals">
                <label for="radio-2">Produce ready meals</label>
            </div>
            <div class="multiple-choice">
                <input data-riskid="TYPE-A2" id="radio-2" type="checkbox" name="business_typequestions" value="Sell food to other food businesses as well as consumers">
                <label for="radio-2">Sell food to other food businesses as well as consumers</label>
            </div>
            <div class="multiple-choice">
                <input data-riskid="TYPE-A2" id="radio-2" type="checkbox" name="business_typequestions" value="Make composite products in house. For example pies or sausages">
                <label for="radio-2">Make composite products in house. For example pies or sausages</label>
            </div>

          </fieldset>
        </div>
        <div class="grid-row">
          <input type="submit" class="button" value="Save and continue">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}