{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
	<div>
		<a class="back-link" href="#" onclick="window.history.back()">Back</a>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					You have not selected one of the options below
				</h2>

				<ul class="error-summary-list">
					<li>
						<a href="#example-personal-details">You have not selected an option below</a>
					</li>
				</ul>
			</div>
			<h1 class="heading-large">Business activities</h1>
			<form id="fsa-checkbox-form" method="get" class="form" action="/reg-pages/business-customers">
				<div class="form-group">
					<fieldset>
						<legend>
							<h3 class="heading-medium">Will you import or export any food from outside the UK?</h3>
							<span class="body-text">Select all that apply</span>
							<span class="error-message no-display">You must select at least one option below</span>
						</legend>

						<div class="multiple-choice">
							<input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
							<label for="waste-type-1">Import</label>
						</div>
						<div class="multiple-choice">
							<input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
							<label for="waste-type-2">Export</label>
						</div>
						<div class="multiple-choice">
							<input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
							<label for="waste-type-3">No import or export activities</label>
						</div>
						<div class="multiple-choice">
							<input id="waste-type-4" name="waste-types" type="checkbox" value="waste-farm-agricultural">
							<label for="waste-type-4">Don't know</label>
						</div>

					</fieldset>
				</div>
				<div class="form-group">
					<details>
						<summary>
							<span class="summary">More information about import and export activities</span>
						</summary>
						<div class="panel panel-border-narrow">
							<p class="label"> By law, if you set up a charity you must have applied to register it with the commission if it is a charitable incorporated
								organisation (CIO) or its annual income is more than £5,000, unless it is a specific type of charity that doesn’t
								have to register. The commission will take action to secure compliance if it identifies a charity which isn’t registered
								but should be.
							</p>

							<p>If your charity isn’t a CIO and your income is under £5,000 you don’t have to register with the commission. You can
								find your charity reference number by visiting the
								<a href="http://beta.charitycommission.gov.uk/">Charity register.</a>
							</p>
						</div>
					</details>
				</div>
				<div class="grid-row">
					<input type="submit" class="button" value="Save and continue">
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}