{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
	<div>
		<a class="back-link" href="#" onclick="window.history.back()">Back</a>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
				<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

						<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
							You have not selected one of the options below
						</h2>

						<!-- <p>
							Optional description of the errors and how to correct them
						</p> -->

						<ul class="error-summary-list">
							<li><a href="#example-personal-details">Something's not right here, please check your answer before continuing</a></li>
						</ul>

					</div>
			<h1 class="heading-large">Business activities</h1>

			<form id="fsa-radio-button-form" method="get" class="form" action="/reg-pages/business-foodandhandling">
				<div class="form-group">
					<fieldset>

						<legend>
							<h1 class="heading-medium">What kind of food establishment are you registering?</h1>
							<span class="error-message no-display">You have not selected one of the options below</span>
						</legend>

						<div class="multiple-choice">
							<input data-riskid="TYPE-789" id="radio-1" type="radio" name="business_type" value="Restaurant, pub, canteen or cafe">
							<label for="radio-1">Restaurant, pub, canteen or cafe</label>
						</div>
						<div class="multiple-choice">
							<input data-riskid="TYPE-002" id="radio-2" type="radio" name="business_type" value="Retailer">
							<label for="radio-2">Retailer</label>
						</div>
						<div class="multiple-choice">
							<input data-riskid="TYPE-003" id="radio-3" type="radio" name="business_type" value="Home caterer">
							<label for="radio-3">Home caterer</label>
						</div>
						<div class="multiple-choice">
							<input data-riskid="TYPE-004" id="radio-4" type="radio" name="business_type" value="Delivery service and distributor">
							<label for="radio-4">Delivery service and distributor</label>
						</div>
						<div class="multiple-choice">
							<input data-riskid="TYPE-005" id="radio-5" type="radio" name="business_type" value="Takeaway">
							<label for="radio-5">Takeaway</label>
						</div>
						<div class="multiple-choice">
							<input data-riskid="TYPE-006" id="radio-6" type="radio" name="business_type" value="Drinks or wet sales only">
							<label for="radio-6">Drinks or wet sales only</label>
						</div>
					</fieldset>
				</div>
				<div class="grid-row">
					<input type="submit" class="button" value="Continue">
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}