{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

	<div>
		<a class="back-link" href="#" onclick="window.history.back()">Back</a>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					You have not selected one of the options below
				</h2>

				<ul class="error-summary-list">
					<li>
						<a href="#example-personal-details">Something's not right here, please check your answer before continuing</a>
					</li>
				</ul>
			</div>

			<h1 class="heading-large">Details of the operating charity</h1>

			<form method="get" class="form" action="/reg-pages/operator-address">
				<div class="form-group">
						<details>
							<summary><span class="summary">What is a food business operator</span></summary>
							<div class="panel panel-border-narrow">
								<p class="label"> A food business operator is the person, charity or company who makes the decisions about the food business, what it serves and how it operates.
									<p>
							</div>
						</details>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="form-group">
							<label class="form-label" for="operator_charity_name">Charity name</label>
							<input class="form-control" id="operator_charity_name" type="text" name="operator_charity_name">
						</div>

						<div class="form-group">
							<label class="form-label" for="operator_charity_number">Charity reference number</label>
							<input class="form-control" id="operator_charity_number" type="text" name="operator_charity_number">
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<details>
						<summary><span class="summary">Questions about charity reference numbers</span></summary>
						<div class="panel panel-border-narrow">
							<p class="label"> Charities that are registered with the Charities Commission will have a charity reference number. You can find your charity reference number by visiting the <a target="_blank" href="http://beta.charitycommission.gov.uk/">Charity Commission website.</a>
								<p>
						</div>
					</details>
			</div>
				<div class="grid-row">
					<input type="submit" class="button" value="Continue">
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}