{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
	<div>
		<a class="back-link" href="#" onclick="window.history.back()">Back</a>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					You have not selected one of the options below
				</h2>

				<ul class="error-summary-list">
					<li>
						<a href="#example-personal-details">Something's not right here, please check your answer before continuing</a>
					</li>
				</ul>
			</div>

			<h1 class="heading-large">Where is this establishment located?</h1>

			<!-- <form id="fsa-radio-button-form" method="get" class="form" action="/reg-pages/establishment-address-details"> -->
			<form id="establishment-address-details-form" method="get" class="form" action="/reg-pages/establishment-contact">
				<!-- <div class="form-group"> -->
					<fieldset>

						<div id="type-of-premise-form" class="form-group">
							<legend>
								<details>
										<summary><span class="summary">What is an establishment?</span></summary>
										<div class="panel panel-border-narrow">
			
											<p class="label">An establishment is the location of your food business, and the food activities taking place there. If it is a mobile food business, please use the location where it is normally stored overnight.<p>
										</div>
									</details>
									<div class="big-gap"></div>
									<div class="big-gap"></div>
									<div class="big-gap"></div>
									<div class="big-gap"></div>
								<div class="multiple-choice">
									<input id="radio-1" type="radio" name="establishment_location" value="true">
									<label for="radio-1">In a place of business or commercial premises</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-2" type="radio" name="establishment_location" value="false">
									<label for="radio-2">In a mobile or moveable premises</label>
								</div>
								<div class="multiple-choice">
										<input id="radio-3" type="radio" name="establishment_location" value="false">
										<label for="radio-3">In a home or domestic premises</label>
									</div>
							</legend>
						</div>
					</fieldset>
					<div class="grid-row">
						<input type="submit" class="button" value="Continue">
					</div>
				<!-- </div> -->
			</form>
		</div>
	</div>
</main>

{% endblock %}