{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
	<div>
		<a class="back-link" href="#" onclick="window.history.back()">Back</a>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					You have not selected one of the options below
				</h2>

				<ul class="error-summary-list">
					<li>
						<a href="#example-personal-details">You have not selected an option below</a>
					</li>
				</ul>
			</div>

			<h1 class="heading-large">Establishment address</h1>

			<!-- <form id="fsa-radio-button-form" method="get" class="form" action="/reg-pages/establishment-address-details"> -->
			<form id="establishment-address-details-form" method="get" class="form" action="/reg-pages/establishment-contact">
				<!-- <div class="form-group"> -->
					<fieldset>

						<div id="type-of-premise-form" class="form-group">
							<legend>
								<h1 class="heading-medium">Is this establishment located inside a domestic premises?</h1>
								<p class="form-hint">A domestic premises is any premises which is not a place of business. For example, a home.</p>
								<div class="multiple-choice">
									<input id="radio-1" type="radio" name="typeOfPremise" value="domestic">
									<label for="radio-1">Yes, it is a domestic premises</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-2" type="radio" name="typeOfPremise" value="businessOrPublic">
									<label for="radio-2">No, it is a business or public premises</label>
								</div>
							</legend>
						</div>
						<div id="establishment-in-gov-facility-form" class="form-group">
							<legend>
								<h1 class="heading-medium">Is this establishment located inside a secure government facility?</h1>
							</legend>

							<div class="multiple-choice">
								<input id="radio-1" type="radio" name="establishmentInGovFacility" value="yes">
								<label for="radio-1">Yes</label>
							</div>
							<div class="multiple-choice">
								<input id="radio-2" type="radio" name="establishmentInGovFacility" value="no">
								<label for="radio-2">No</label>
							</div>
						</div>
					</fieldset>
					<div class="grid-row">
						<input type="submit" class="button" value="Save and continue">
					</div>
				<!-- </div> -->
			</form>
		</div>
	</div>
</main>

{% endblock %}