{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div>
    <a class="back-link" href="#" onclick="window.history.back()">Back</a>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Food business operator
      </h1>
      <p>
        A food business operator is the person or company who is responsible for the direction and food safety of this food business.
      </p>

      <form>
        <div class="form-group">
          <fieldset class="inline">

            <legend>
              <h1 class="heading-medium">
                What type of food business operator is responsible for this business?
              </h1>
            </legend>

            <div class="form-group">
              <div class="multiple-choice" onclick="switchOperatorType('soletrader-name')">
                <input id="soletrader" type="radio" name="operatorType" value="Sole Trader">
                <label for="soletrader">Sole trader</label>
              </div>
              <div class="multiple-choice" onclick="switchOperatorType('partnership-name')">
                <input id="partnership" type="radio" name="operatorType" value="Partnership">
                <label for="partnership">Partnership</label>
              </div>
              <div class="multiple-choice" onclick="switchOperatorType('ltdcompany-name')">
                <input id="limited-company" type="radio" name="operatorType" value="Limited Company">
                <label for="limited-company">Limited company</label>
              </div>
            </div>

            <div class="form-group">
              <details>
                <summary>
                  <span class="summary">Questions about types of operators</span>
                </summary>
                <div class="panel panel-border-narrow">
                  <p class="label"> Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to
                    corporate strategy foster collaborative thinking to further the overall value proposition. Organically
                    grow the holistic world view of disruptive innovation via workplace diversity and empowerment. </p>
                </div>
              </details>
            </div>

            </diov>
            <div class="grid-row">
              <a id="operator-continue-button" class="button" href="/name" role="button">Continue</a>
            </div>


          </fieldset>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}