{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}
<meta charset='utf-8'>
<main id="content" role="main">
  <div class="grid-row">

      <h1 class="heading-large">
        Registration flow page examples
      </h1>
      <p>
        List of all the pages in the non-approved "register a new food business" flow.
      </p>
      <p>
        These designs are all in draft form, and will therefore regularly be changing. <strong class="bold-small">They are not the finished article.</strong> They are available in accordance with the FSA's spirit of open data.
      </p>

      <ul class="list">
        <li class="heading-medium">Operator section</li>
        <li><a href="./start">Start</a></li>
        <li><a href="./registration-type">Registration type</a></li>
        <li><a href="./operator-type">Operator type</a></li>
        <li><a href="./soletrader-name">Sole-trader name</a></li>
        <li><a href="./charity-name">Charity name</a></li>
        <li><a href="./ltdcompany-name">Company name</a></li>
        <li><a href="./operator-address">Operator address</a></li>
        <li><a href="./contact">Operator contact details</a></li>
        <li class="heading-medium">Establishment section</li>
        <li><a href="./establishment-name">Establishment name</a></li>
        <li><a href="./establishment-address">Establishment address</a></li>
        <li><a href="./establishment-addressdetails">Establishment address details</a></li>
        <li><a href="./establishment-contact">Establishment contact</a></li>
        <li><a href="./opening-status">Opening status</a></li>
        <li><a href="./opening-date-past">Opening date in the past</a></li>
        <li><a href="./opening-date-future">Opening date in the future</a></li>
        <li class="heading-medium">Activities section</li>
        <li><a href="./business-importexport">Import and Export</a></li>
        <li><a href="./business-customers">Customers</a></li>
        <li><a href="./business-consumerfacing">Customer facing business types</a></li>
        <li><a href="./business-foodandhandling">Food handling activities</a></li>
        <li><a href="./business-highrisk">High risk activities</a></li>
        <li><a href="./business-otherdetail">Other details</a></li>
        <li class="heading-medium">Summary section</li>
        <li><a href="./summary-declaration">Summary and declaration</a></li>

      </ul>

      <div class="grid-row">
        <a class="button button-start" href="/gds-test/home" role="button">Example GDS form pages</a>
      </div>



  </div>
</main>

{% endblock %}
