{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

	<div>
		<a class="back-link" href="#" onclick="window.history.back()">Back</a>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					You have not selected one of the options below
				</h2>

				<ul class="error-summary-list">
					<li>
						<a href="#example-personal-details">Something's not right here, please check your answer before continuing</a>
					</li>
				</ul>
			</div>

			<h1 class="heading-large">Company details</h1>

			<form id="ltdcompany-name-form" method="get" class="form" action="/reg-pages/operator-contact">
				<div class="form-group">
					<fieldset>

						<div class="form-group">
							<label class="form-label" for="operator_company_name">Registered company name
								<span class="form-hint">The name of the registered company which is acting as the operator of this food business.</span>
							</label>

							<input class="form-control" id="fbo-company-name" type="text" name="operator_company_name">
						</div>

						<div class="form-group">
							<label class="form-label" for="operator_company_house_number">Companies House number
								<span class="form-hint">Every registered company will have a Companies House reference number. Search for a reference number on the
									<a href="https://beta.companieshouse.gov.uk/">Companies House website.</a>.</span>
							</label>
							<input class="form-control" id="fbo-company-name" type="text" name="operator_company_house_number" fsa-type="number">
						</div>

						<div class="form-group">
							<details>
								<summary>
									<span class="summary">Questions about Companies House numbers</span>
								</summary>
								<div class="panel panel-border-narrow">
									<p class="label"> Every limited company has to be registered with Companies House, and will have a company reference number. You can
										find your company reference number by visiting the
										<a href="https://beta.companieshouse.gov.uk/">Companies House website.</a>
									</p>
								</div>
							</details>
						</div>
					</fieldset>
				</div>
				<div class="grid-row">
					<input type="submit" class="button" value="Save and continue">
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}