{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
	<div>
		<a class="back-link" href="#" onclick="window.history.back()">Back</a>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					You have not selected one of the options below
				</h2>

				<ul class="error-summary-list">
					<li>
						<a href="#example-personal-details">Something's not right here, please check your answer before continuing</a>
					</li>
				</ul>
			</div>

			<h1 class="heading-medium">Is this establishment already trading?</h1>

			<form method="get" class="form" id="fsa-radio-button-form" action="/opening-date-redirect">
				<div class="form-group">
					<fieldset>
						<div class="multiple-choice">
							<input id="radio-1" type="radio" name="opening_status" value="alreadyTrading">
							<label for="radio-1">Yes, it is already trading</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-2" type="radio" name="opening_status" value="notTradingYet">
							<label for="radio-2">No, it is not trading yet</label>
						</div>

					</fieldset>
				</div>
				<div class="grid-row">
					<input type="submit" class="button" value="Save and continue">
				</div>
			</form>

		</div>
	</div>
</main>

{% endblock %}