{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
	<div>
		<a class="back-link" href="#" onclick="window.history.back()">Back</a>
	</div>
	<div class="grid-row">
		<div>
			<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					You have not selected one of the options below
				</h2>

				<ul class="error-summary-list">
					<li>
						<a href="#example-personal-details">Something's not right here, please check your answer before continuing</a>
					</li>
				</ul>

			</div>

			<h1 class="heading-medium">Who operates this business?</h1>

			<form method="get" class="form" id="fsa-radio-button-form" action="/operator-type-redirect">
				<div class="form-group">
					<details>
						<summary>
							<span class="summary">What is a food business operator</span>
						</summary>
						<div class="panel panel-border-narrow">
							<p class="label"> The food business operator is the person, charity or company who makes the decisions about the food business, what
								it serves and how it operates.
								<p>
						</div>
					</details>
				</div>

				<div class="form-group">
					<fieldset>

						<legend>
							<span class="error-message no-display">You have not selected one of the options below</span>
						</legend>

						<div class="multiple-choice">
							<input id="radio-1" type="radio" name="operator_type" value="personOperatesBusiness">
							<label for="radio-1">A person
								<span class="form-hint">The food business is owned or operated by an individual person, rather than any legal entity such as a business or
									charity.
								</span>
							</label>

						</div>
						<div class="multiple-choice">
							<input id="radio-2" type="radio" name="operator_type" value="companyOperatesBusiness">
							<label for="radio-2">A company
								<span class="form-hint">The food business is owned or operated by a limited company rather than a single person or partnership of people.</span>
							</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-3" type="radio" name="operator_type" value="charityOperatesBusiness">
							<label for="radio-3">A charity
								<span class="form-hint">The food business is owned or operated by a charity rather than a company, person or partnership of people.</span>
							</label>
						</div>

					</fieldset>
				</div>
				<div class="grid-row">
					<input type="submit" class="button" value="Save and continue">
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}