{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div>
    <a class="back-link" href="./index.html">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" class="form" id="fsa-radio-button-form" action="/reg-pages/registration-role">
        <div class="form-group">
          <fieldset>

            <div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

              <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                You have not selected one of the options below
              </h2>

              <ul class="error-summary-list">
                <li>
                  <a href="#example-personal-details">Something's not right here, please check your answer before continuing</a>
                </li>
              </ul>

            </div>

            <legend>
              <h1 class="heading-medium">What are you registering today?</h1>
            </legend>

            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="registration_type" value="New food business">
              <label for="radio-1">A new food establishment</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="registration_type" value="Updating existing business">
              <label for="radio-2">An update to an existing food establishment</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-3" type="radio" name="registration_type" value="Closure of a food business">
              <label for="radio-3">Closure of a food establishment</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <details>
            <summary>
              <span class="summary">Questions about registrations</span>
            </summary>
            <div class="panel panel-border-narrow">
              <p class="label"> Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate
                strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic
                world view of disruptive innovation via workplace diversity and empowerment. </p>
            </div>
          </details>
        </div>
        <div class="grid-row">
          <input type="submit" class="button" value="Save and continue">
        </div>

      </form>

    </div>

  </div>
</main>

{% endblock %}