{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

	<div>
		<a class="back-link" href="#" onclick="window.history.back()">Back</a>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					You have not selected one of the options below
				</h2>

				<ul class="error-summary-list">
					<li>
						<a href="#example-personal-details">Something's not right here, please check your answer before continuing</a>
					</li>
				</ul>
			</div>

      <h1 class="heading-large">Operator contact details</h1>

      <p>Please give us the details of a person at this company we can speak to about food hygiene and safety.</p>

			<form id="operator-contact-form" method="get" class="form" action="/reg-pages/establishment-name">
				<div class="form-group">
					<details>
						<summary>
							<span class="summary">What is a food business operator</span>
						</summary>
						<div class="panel panel-border-narrow">
							<p class="label"> A food business operator is the person, charity or company who makes the decisions about the food business, what it
								serves and how it operates.
								<p>
						</div>
					</details>
        </div>

        <div class="form-group">
            <label class="form-label" for="representative-contact-name">Name of contact</label>
            <input class="form-control" id="representative-contact-name" type="text" name="representative-contact-name">

            <div class="big-gap"></div>

            <label class="form-label" for="representative-contact-role">Role (optional)</label>
            <input class="form-control" id="representative-contact-role" type="text" name="representative-contact-role">
          </div>

				<div class="list-item-wrapper-vertical">
					<div class="grid-row">
						<div class="form-group-compound">
							<div class="form-group-small contact-type-select">
								<label class="form-label" for="contact-1">Contact type</label>
								<select class="form-control" name="operator_contact_type_id" id="contact-1">
									<option value="1" fsa-type="telephone">Mobile telephone</option>
									<option value="2" fsa-type="telephone">Home telephone</option>
									<option value="3" fsa-type="telephone">Work telephone</option>
									<option value="4" fsa-type="telephone">Text phone</option>
									<option value="5" fsa-type="telephone">TypeTalk</option>
									<option value="6">Other</option>
								</select>
								<input class="form-control" name="operator_contact_type" id="contact-type" type="numerical">
							</div>
							<div class="form-group"></div>
							<div class="grid-row">
								<div class="form-group">
									<button id="add-button" class="button-secondary button-add-another-vertical">Add another contact for this company</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="grid-row">
					<div class="form-group">
						<button id="add-button" class="button-secondary button-add-another-vertical">Add another</button>
					</div>
				</div> -->
				<div class="grid-row">
					<div class="form-group">
						<label class="form-label" for="first-name-2">Email address
							<span class="form-hint">Your email address will be used to update you regarding policy or legal changes which could affect your food business.</span>
						</label>
						<input class="form-control" id="first-name-2" name="operator_email" fsa-type="email" type="text">
					</div>
				</div>

				<!-- </div> -->
				<div class="grid-row">
					<input type="submit" class="button" value="Save and continue">
				</div>
				<!-- </div> -->
			</form>
		</div>
	</div>
</main>

{% endblock %}