{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
	<!-- <div>
		<a class="back-link" href="/index.html"><a class="back-link" href="#" onclick="window.history.back()">Back</a></a>
	</div> -->


	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-large">
				Register a food business
			</h1>
			<p>
				All food businesses which regularly produce or serve food to the public need to be registered with their Local Authority.
				This service will send your registration to the correct local authority based on your trading location.</p>
			<p>
				Food businesses should only register
				<span class="bold-small">28 days</span> before they begin trading. If you are not sure when this food business will open, it may be too early
				to be registering this business.
			</p>


			<div class="panel panel-border-wide">
				<p class="heading-small">
					During this registration, you may come across a few specialist terms, which we have described below:
				</p>
			</div>
			<p class="heading-small">
				Food business operator
			</p>
			<p>
				The operator is the person, charity or company who makes the decisions about the food business, what it serves and how it
				operates.
			</p>
			<p class="heading-small">
				Establishment
			</p>
			<p>
				The establishment is the location or site of your food business. If it is a mobile food business, please use the location
				where it is normally stored overnight.
			</p>

			<form>
				<div class="form-group">
					<fieldset>

						<div class="grid-row">
							<a id="operator-continue-button" class="button button-start" href="./registration-type" role="button">Begin registration</a>
						</div>

					</fieldset>
				</div>
			</form>



			<!-- <h1 class="heading-large">
				Register a food business
			</h1>
			<p>
				All food businesses which regularly produce or serve food to the public need to be registered with their Local Authority.
				This service will capture registration information and send it to the correct local authority based on your trading location.
			</p>
			<p>
				Please answer these questions to the best of your abilities.
			</p>

			<p>
				During this registration, you may come across a few specialist terms, which we have described below:
			</p>
			<p>
				• A food business operator is the person, charity or company who makes the decisions about the food business, what it serves
				and how it operates.
			</p>
			<p>
				• An establishment is the location of your food business. If it is a mobile food business, please use the location where
				it is normally stored overnight.
			</p>

			<div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					You have not selected one of the options below
				</h2>

				<ul class="error-summary-list">
					<li><a href="#example-personal-details">Something's not right here, please check your answer before continuing</a></li>
				</ul>

			</div>

			<h1 class="heading-medium">What are you registering today?</h1>

			<form method="get" class="form" id="fsa-radio-button-form" action="/start-submit-redirect">
				<div class="form-group">
					<fieldset>

						<legend>
							<span class="error-message no-display">You have not selected one of the options below</span>
						</legend>

						<div class="multiple-choice">
							<input id="radio-1" type="radio" name="registration_type" value="New food business">
							<label for="radio-1">A new food business</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-2" type="radio" name="registration_type" value="Updating existing business">
							<label for="radio-2">An update to an existing food business</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-3" type="radio" name="registration_type" value="Closure of a food business">
							<label for="radio-3">Closure of a food business</label>
						</div>

					</fieldset>
				</div>
				<div class="form-group">
					<details>
						<summary>
							<span class="summary">Questions about types of operators</span>
						</summary>
						<div class="panel panel-border-narrow">
							<p class="label"> Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate
								strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world
								view of disruptive innovation via workplace diversity and empowerment. </p>
						</div>
					</details>
				</div>

				<div class="grid-row">
					<input type="submit" class="button button-start" value="Begin registration">
				</div>
			</form> -->

		</div>
	</div>
</main>

{% endblock %}