{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div>
    <a class="back-link" href="#" onclick="window.history.back()">Back</a>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">
        Please check that the details you entered are correct.
      </h2>

      <!--Name Details table-->
      <!--Operator details-->
      <table>
        <tbody>
          <tr>
            <td class="bold">Operator details</td>
            <td></td>
          </tr>

          <tr>
            <td>Registration type</td>
            <td class="bold">{{ data['startUserRegisteringBusiness'] }}</td>
          </tr>

          <tr>
            <td>Name</td>
            <td class="bold">{{ data['soletraderNameFirstName'] }} {{ data['soletraderNameSurname'] }}</td>
          </tr>

          <tr>
            <td>Operator type</td>
            <td class="bold">{{ data['registrationTypeOperatorDetail'] }}</td>
          </tr>

          <tr>
            <td>Operator home address</td>
            <td class="bold">
              <!-- <div>Hill Cottage</div> -->
              <div>Petty France</div>
              <div>London</div>
              <div>{{ data['operatorAddressPostcode'] }}</div>
            </td>
          </tr>

          <tr>
            <td>Contact number</td>
            <td class="bold">
              <div>{{ data['operatorContactTelephone'] }}</div>
              <div>
                <label class="form-hint-small">Mobile</label>
              </div>
            </td>
          </tr>

          <tr>
            <td>Email address</td>
            <td class="bold">{{ data['operatorContactEmail'] }}</td>
          </tr>



          <!--Establishment details-->

          <tr>
            <td class="bold">Establishment details</td>
            <td></td>
          </tr>

          <tr>
            <td>Establishment name</td>
            <td class="bold">{{ data['establishmentNameFoodBusinessName'] }}</td>
          </tr>

          <tr>
            <td>Establishment address</td>
            <td class="bold">
                <div>{{ data['establishmentAddressLine1'] }}</div>
                <div>{{ data['establishmentAddressLine2'] }}</div>
                <div>{{ data['establishmentAddressPostcode'] }}</div>
                <div>{{ data['establishmentAddressDoNotKnow'] }}</div>
            </td>
          </tr>
          <tr>
            <td>Domestic premises</td>
            <td class="bold">{{ data['establishmentAddressDetailsDomestic'] }}</td>
          </tr>
          <tr>
            <td>Establishment email address</td>
            <!-- <td class="bold">hello@waterfrontsandwiches.co.uk</td> -->
            <td class="bold">{{ data['establishmentContactEmail'] }}</td>
            <!-- TODO - Add in logic for is this same as operator contact details?? -->
          </tr>
          <tr>
            <td>Establishment phone number</td>
            <td class="bold">{{ data['establishmentContactTelephone'] }}</td>
          </tr>
          <tr>
            <!-- <td>Opened on</td> -->
            <td>{{ data['openingDateLabel'] }}</td>
            <td class="bold">{{ data['openingDateDay'] }} {{ data['openingDateMonth'] }} {{ data['openingDateYear'] }}</td>
          </tr>
          <tr>
            <td>Opening days and hours</td>
            <td class="bold">
              {% if data['openingDaysIrregular'] === "Irregular opening hours" %}
                <p>Irregular opening hours:</p>
                <p>{{ data['openingDaysIrregularDescription'] }}</p>
              {% else %}
              <ul>
                {% for day in data['openingDays'] %}
                  {% if day !== "_unchecked" %}
                    <li>{{ day }}:
                      {% if  data['openCloseSameTimes'] === "Yes" %}
                        {{ data['openingHoursAll'] }} - {{ data['closingHoursAll'] }}
                      {% else %}
                        {{ data['openingHours' + day ] }} - {{ data['closingHours' + day ] }}
                      {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              {% endif %}
            </td>
          </tr>


          <!--Food activities-->
          <tr>
              <td class="bold">Food activities</td>
              <td></td>
            </tr>

            <tr>
              <td>Customer type</td>
              <td>
                <!-- Have a look at routes.js -->
                <div>{{ data['businessCustomersSupplyLabel'] }}</div>
                <div class="bold">{{ data['businessCustomersSupply'] }}</div>
              </td>
            </tr>

            <tr>
              <td>Importing and Exporting</td>
              <td class="bold">
                <div> {{data['businessImportExportActivities'] }} </div>
              </td>
            </tr>

            <tr>
              <td>Business type</td>
              <td class="bold">{{ data['businessConsumerFacingOption'] }}</td>
            </tr>

            <tr>
              <td>Food activities</td>
              <td class="bold">
                <div>{{ data['businessFoodAndHandlingOption'] }}</div>
              </td>
            </tr>


            <tr>
              <td>Additional information</td>
              <td class="bold">
                <div>{{ data['businessOtherDetailAdditional'] }}</div>
              </td>
            </tr>

        </tbody>
      </table>

      <!--Declaration	-->
      <div class="error-summary no-display" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          You have not selected one of the options below
        </h2>

        <!-- <p>
            Optional description of the errors and how to correct them
          </p> -->

        <ul class="error-summary-list">
          <li>
            <a href="#example-personal-details">Something's not right here, please check your answer before continuing</a>
          </li>
        </ul>

      </div>

      <!-- <div class="form-group"> -->

      <form id="#fsa-checkbox-form" method="POST" action="/reg-pages/confirmation">
        <div class="form-group">
          <legend>
            <h2 class="heading-medium">
              Declaration
            </h2>

            <p>I declare that the information I have given on this form is correct and complete to the best of my knowledge
              and belief.
            </p>
            <p>I will notify food authorities of any changes to the business, including closure, within 28 days of the change
              happening.</p>
            <p>I understand I will be required to verify this information on an annual basis and I will receive email reminders
              to do this.</p>
            <p class="heading-medium">By submitting this registration, I am agreeing to the above statements.</p>
            <span class="error-message no-display">You have not ticked the box below</span>
          </legend>
          <div class="multiple-choice">
            <input id="radio-1" type="checkbox">
            <label for="radio-1">I agree </label>
          </div>
        </div>
        <div class="grid-row">
          <input type="submit" class="button" value="Submit registration">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}