{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-large">
				Registering a food business
			</h1>
			<p>
				Use this form to register any businesses which produce, distribute or make food to be served to the public.
			</p>

			<p>
				You will be asked to verify your identity whether you are registering as a person or as a company, so please make sure you
				have your documents ready.
			</p>
			<div class="grid-row">
				<h2 class="heading-medium">Examples of food businesses</h2>
				<ul class="list list-bullet">
					<li>Food delivery services</li>
					<li>Home catering services</li>
					<li>Childminders</li>
					<li>Seasonal ice cream vans</li>
				</ul>
			</div>

			<div class="grid-row">
				<!-- <a class="button button-start" href="/reg-pages/start" role="button">Begin registration</a> -->
				<a class="button button-start" href="/reg-pages/start" role="button">Begin registration</a>
			</div>


		</div>
	</div>
</main>

{% endblock %}